<app-menu></app-menu>


<br>
<br>
<br>
<br>
<br>

<br>


        <div class="container">
         

          
                <div class="card-deck mb-3 text-center" *ngFor="let art of articles">
                  
                  <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">{{art.title}}</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title"  >{{art.content}}  </h1>
                      
                      <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/article/{{art._id}}"  >Voir Article </button>
                    </div>
                  </div>
                  
                </div>

          </div>      